# Скопируй в .env для локального теста (не коммить)
GAME_HOST=94.26.255.7
GAME_PORT=27015
DISCORD_BOT_TOKEN=
DISCORD_CHANNEL_ID=
DISCORD_MESSAGE_ID=
SERVER_NAME=ТюрьмаRP │ Волчий Яр │ ОБТ
CONNECT_HINT=94.26.255.7:27015
